 @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
 * {
     padding: 0px;
     margin: 0px;
 }
 
 body {
     background-color: #242835;
 }
 
 #container {
     display: flex;
     flex-direction: column;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     
 }
 
 canvas {
     width:90%;
}
 
 h2 {
     color: white;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 2em;
 }
 
 #container div {
     background-color: #292E3C;
     padding: 10px;
     margin: 20px;
 }
 
 #chart1 {
     grid-area: chart1;
 }
 
 #chart2 {
     grid-area: chart2;
    
 }
 
 #chart3 {
     grid-area: chart3;
 }
 
 #chart4 {
     grid-area: chart4;
 }
 
 #chart5 {
     grid-area: chart5;
 }